{% for post in site.posts %}
<div class="joun-content">
  <div class="row">
      <div class="column columnL">
        <!-- <div class="column1" style="background-image:url(assets/images/65.jpg);"></div> -->
        <!-- {{post.image}} -->
        <img src="{{ site.baseurl }}/imagens/{{ post.image }}">
      </div>
      <div class="column columnR">
        <p class="joun-ov-title"> {{post.title}}</p>
        <p class="joun-ov-date"> {{post.datec}} </p>
        <p> {{post.summary}}</p>
      </div>
    </div>
</div>
{% endfor %}
<!-- {{ site.posts | size }}  -->