---
---
@import "main";
*{
    box-sizing: border-box;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
footer {
    clear: both;
    position: absolute;
    bottom:-50%;
    left: 0;
    width: 100%;
  }
.left{
    text-align:left;
    float:left;
}
.right{
    float:right;
    text-align:right;
}
.centered{
    text-align:center;
}
