---
---
@import "main";

header{
  font-size: 35px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  letter-spacing: 5px;
  padding-top: 20px;
}
button{
  cursor: pointer;
}
.nav-btn{
  display: block;
  line-height: 1;
}
.btn{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  display:inline-block;
  z-index: 60;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: #000000;
  font-weight:300;
}
.mid{
  display:inline-block;
  cursor: pointer;
  font-weight:100;
}
/* hover dropdown */
.drop-down-L{
  float:right;
  line-height: 35px;
  padding-right: 11px;
  padding-bottom: 100px;
  padding-left: 50px;
}
.drop-down-R{
  float:left;
  line-height: 35px;
  padding-left: 2px;
  padding-bottom: 100px;
  padding-right: 50px;
}
.dd-content-L{
  right:50%;
}
.dd-content-R{
  left:50%;
}
.nav-column {
  float: left;
  width: 50%;
  /* padding: 10px; */
}
.nav-row:after {
  content: "";
  display: table;
  clear: both;
}
.dropdown{
  float: left;
  overflow: hidden;
}
.btn:hover{
  color:rgb(88, 88, 88);
}
.dropdown-content {
  display: none;
  margin-top:10px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  letter-spacing:1px;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0px 2px 4px 0px rgba(41, 41, 41, 0.2);
  z-index: 1;
}
.dropdown-content a {
  font-weight:300;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  color:rgb(88, 88, 88);
}
.drop-down-L:hover .dropdown-content {
  display: block;
}
.drop-down-R:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover{
  background: #fbfbfb;
}