---
---
@import "main";

*{
  box-sizing: border-box;
}
main{
  top: 180px;
  position: absolute;
  width: 100%;
  left: 0;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
.joun-home-container{
  top:250px;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.columnL{
  padding-left: 15%;
}
.column1{
  background-size: cover;
  height:100%
}
.columnR{
  padding: 50px 15% 50px 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.joun-ov-title{
  font-size:25px;
  margin-bottom:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:black;
}
.joun-ov-date{
  font-size:15px;
}