---
---
@import "main";

.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding:50px;
    position:relative;
    top:200px;
}
.photo-container div {
    background-size: cover;
    background-position: center ;
}
.photo-container div::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}
.layer{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:absolute;
  }
.photograph:hover > .layer{
    background-color: rgba(0, 0, 0, 0.404);
    transition:  background-color .4s;
    cursor: zoom-in;
}
.photoShow{
    animation: photoShow .8s ease-in;
    animation-fill-mode: forwards; 
  }
@keyframes photoShow {
    from {transform: scale(.8); opacity:0;}
    to {transform: scale(1); opacity:1;}
}
// Enlarge photo
.large-photo{
    height:100vh;
    width:100vw;
    position: fixed;
    z-index:1;
    top:0;
    overflow:scroll;
    background-color: rgba(255, 255, 255, 0.801);
}
.largeOp{
    animation: largeOp .5s ease-in;
    animation-fill-mode: forwards;
    }
@keyframes largeOp {
    from { opacity:0  }
    to { opacity:1  }
}
.enlarged{
    position: absolute;
    width:100%;
    z-index:9;
}