---
---
@import "main";

.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding:50px;
    position:relative;
    top:200px;
}
.photo-container div {
    background-size: cover;
    background-position: center ;
}
.photo-container div::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}
.photoShow{
    animation: photoShow .8s ease-in;
    animation-fill-mode: forwards; 
  }
@keyframes photoShow {
    from {transform: scale(.8); opacity:0;}
    to {transform: scale(1); opacity:1;}
}