---
---
@import "main";

.page-title{
    width:100%;
    top:160px;
    font-family: 'Montserrat', sans-serif;
    color: #757575;
    position:absolute;
    text-align:center;
    font-size:30px;
    left:0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.threecolumn {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.photograph-container{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 3% 0 3%;
    top: 250px;
}
.layer{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.photograph:hover > .layer{
    background-color: rgba(0, 0, 0, 0.250);
    transition:  background-color .4s;
}
.column1{
    background-size: cover;
    height:100%
}