<!--A "home" template, to be assigned in header with layout in md file-->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kassandra | {{ page.title }}</title>  <!--The tab name-->
    <style>
        body  {
          background-image: url("/assets/images/wallpaper.jpg");
        }
    </style>
  </head>
  <body >
    {% include header.html %} 
    [My helpful screenshot](/assets/screenshot.jpg)
    {{ content }} <!--from markdown file-->

    {% include footer.html %} 
  </body>
</html>