<!--A "home" template, to be assigned in header with layout in md file-->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kassandra | {{ page.title }}</title>  <!--The tab name-->
    <!-- <style>
        body  {
          background-image: url("assets/images/wallpaper.jpg");
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
    </style> -->
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
  </head>
  <body >
    <!-- {% include header.html %}  -->
    {{ content }} <!--from markdown file-->
    <div class="flo-header">
        <h1 class="shuffle"> kασσάνδρα </h1>
    </div>
    <!-- {% include footer.html %}  -->
  </body>
</html>