<!--The home "post" template, to be assigned in header with layout in md file-->
<!-- Template of journey home: overview of all posts -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>  <!--The tab name-->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/journey.css">
  </head>
  <body>
    {% include header.html %} 

    <div class="page-title" style="text-transform: uppercase;">{{page.title}}</div>

    <main class="joun-home-container"> hi
      {% for post in site.posts %}
      <div class="joun-content">
        <div class="row">
            <div class="column columnL">
              <a href= "{{site.baseurl}}/{{post.permalink}}">
                <div class="column1" style="background-image:url(assets/images/{{ post.image }});"></div>
                </a>
              <!-- {{post.image}} -->
              <!-- <img src="assets/images/{{ post.image }}"> -->
            </div>
            <div class="column columnR">
              <a href= "{{site.baseurl}}/{{post.permalink}}" class="joun-ov-title"> {{post.title}}</a>
              <p class="joun-ov-date"> {{post.datec}} </p>
              <p> {{post.summary}}</p>
            </div>
          </div>
      </div>
      {% endfor %}
    </main>
    
  </body>
  <!-- {% include footer.html %}  -->
</html>