<!--A "post" template, to be assigned in header with layout in md file-->
<!-- Template of the main journey post -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>  <!--The tab name-->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/posts.css">
  </head>
  <body>
    {% include header.html %} 
    <div class="title-container"><span style="text-transform: uppercase">{{ page.layout }}</span> | {{page.label}}</div>
    <main>
      <div class="content">
        <section>
          <p class="jorn-date">{{page.datec}}</p>
          <p class="jorn-title">{{page.title}}</p>
        </section>
        <section>
          <p>
          {{content}}
          </p>
        </section>
      </div>
    </main>

  </body>
  {% include footer.html %} 
</html>