<!--A "post" template, to be assigned in header with layout in md file-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/photography.css">
  </head>
  <body>
    {% include header.html %} 
   
    <div id="pageTitle" class="page-title" style="text-transform: uppercase;">{{page.title}}</div>
    <main class="photograph-container">
        <div class="row">
          <div class="photo-container">
            {% for photo in site.photographs %}
              <div class="hidden photograph" style="background-image:url(assets/images/{{ photo.image }});">
                <div class="layer"></div>
              </div>
              <div class="larged-photo">
                <div class="enlarged" style="background-image:url(assets/images/{{ photo.image }});"></div>
                <div class="photo-desc">
                  <p>On a mountain, over the sea.</p>
                  <p>Label: Landscape</p>
                  <p>Taken with iPhone, on 20 Jul 2020</p>
                  <p>Taken when I was solo camping/hiking in the Lake district.</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </main>

  </body>
  {% include footer.html %} 
  <script src="{{site.baseurl}}/assets/js/photographs.js"></script>

</html>